body{
    background-color: #fff3e2;
    text-align: center;
}

a {
    color: inherit;
}

a:hover{
    color: inherit;
    text-decoration: inherit;
}

h1{
    font-family: 'Pattaya', sans-serif;
    font-size: 70px;
    text-align: center;
    padding-bottom: 4%;
}

.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    font-family: 'Krona One', sans-serif;
}

.card-body{
    margin-left: 10%;
}

.card-img{
    height: 132px;
    width: 200px;

}

